<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- settings
	-->
    <settings>    
        <setting name="cacheEnabled" value="false"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="autoMappingBehavior" value="FULL"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <setting name="defaultStatementTimeout" value="25"/>
        <setting name="safeRowBoundsEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="false"/>
        <setting name="localCacheScope" value="SESSION"/>
        <setting name="jdbcTypeForNull" value="OTHER"/>
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
    </settings>
    
    <!-- 为JAVA Bean起类别名
    	别名方式1，一个一个的配置 type中放置的是类的全路径，alias中放置的是类别名
		<typeAliase type="com.cy.mybatis.beans.UserBean" alias="UserBean"/>
		别名方式2，自动扫描，将JAVA类的类名作为类的类别名
		<package name="com.yueny.demo.pagehelper.entry"/>
	-->
    <typeAliases>
        <package name="com.yueny.superclub.util.exec.mock.entry"/>
    </typeAliases>
    
	<!-- Mapper.xml, 目前无用
		告知映射文件方式: 一个个配置
		<mapper resource="com/yueny/demo/pagehelper/mapper/UserMapper.xml"/>
		自动扫描包内的Mapper 配置文件:
		<package name="com/yueny/demo/pagehelper/maps"/>
	
	<mappers>
		<package name="com/yueny/demo/pagehelper/maps"/>
	</mappers>
	-->
	
</configuration>