<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	   default-autowire="byName">

	<bean id="rateLimitConfig" class="com.yueny.superclub.util.sla.internal.application.config.spl.RateLimitConfig"
		p:enableLimit="true"/>
	<bean id="ratelimitBoss" class="com.yueny.superclub.util.sla.internal.application.limit.boss.DefaultRateLimitBoss"
		c:rateLimitConfig-ref="rateLimitConfig"/>

	<bean id="rateLimitConfigReloader" class="com.yueny.superclub.util.sla.internal.application.config.RateLimitConfigReloader"
		p:rate-limit-boss-ref="ratelimitBoss"/>
	
	<!-- advice -->
	<bean id="rateLimitAdvice" class="com.yueny.superclub.util.sla.internal.application.RateLimitAdvice"/>
    
	<aop:config>
        <aop:aspect ref="rateLimitAdvice">
            <aop:around method="process"
              pointcut="within(com.rapid.example.rapid.util.sla.controller..*) and @annotation(com.yueny.superclub.util.sla.api.SlaRateLimit)"/>
        </aop:aspect>
    </aop:config>
    
	<!-- 
	<bean id="rateLimitBoss" class="com.yueny.superclub.util.sla.jvm.limit.RateLimitBoss"/>
	<bean id="rateLimitConfigReloader" class="com.yueny.superclub.util.sla.jvm.config.RateLimitConfigReloader"/>
	
    <aop:config>
        <aop:aspect ref="slaRateLimitAdvice">
            <aop:around method="process"
                        pointcut="within(com.yueny.superclub.util.sla.jvm.limit.client..*) and @annotation(com.yueny.superclub.util.sla.jvm.config.annotation.SlaRateLimit)"/>
        </aop:aspect>
        <aop:aspect ref="webRateLimitAdvice">
            <aop:around method="process"
                        pointcut="within(com.yueny.superclub.util.sla.jvm.limit.controller..*) and @annotation(com.yueny.superclub.util.sla.jvm.config.annotation.SlaRateLimit)"/>
        </aop:aspect>
        <aop:aspect ref="serviceRateLimitAdvice">
            <aop:around method="process"
                        pointcut="within(com.yueny.superclub.util.sla.jvm.limit.service.impl..*) and @annotation(com.yueny.superclub.util.sla.jvm.config.annotation.SlaRateLimit)"/>
        </aop:aspect>
    </aop:config>

    <bean id="webRateLimitAdvice" class="com.yueny.superclub.util.sla.jvm.limit.RateLimitAdvice">
        <property name="slaRateLimitParser">
            <bean class="com.yueny.superclub.util.sla.jvm.config.parser.WebMethodParser"/>
        </property>
    </bean>
    <bean id="serviceRateLimitAdvice" class="com.yueny.superclub.util.sla.jvm.limit.RateLimitAdvice">
        <property name="slaRateLimitParser">
            <bean class="com.yueny.superclub.util.sla.jvm.config.parser.ServiceMethodParser"/>
        </property>
    </bean>
     -->
</beans>